MEDIA_API_HOST=127.0.0.1
MEDIA_API_PORT=8000
MEDIA_API_LOG_LEVEL=INFO
MEDIA_API_OUTPUT_DIR=outputs
MEDIA_AUDIO_MODEL=suno/bark-small
MEDIA_AUDIO_DEVICE=auto
MEDIA_TRANSCRIPTION_MODEL=small
MEDIA_TRANSCRIPTION_DEVICE=auto
MEDIA_TRANSCRIPTION_COMPUTE_TYPE=default
